/* Define CSS Variables */
:root {
  /* colors */
  --primary-color: #27ae60;
  --primary-color-hover: #2ecc71;
  --secondary-color: #e74c3c;
  --secondary-color-hover: #c0392b;
  --background-color: #f4f4f4;
  --header-background-color: #2c3e50;
  --text-color: #333;
  --input-border-color: #ccc;
  --input-focus-border-color: #2c3e50;
  --modal-background-color: #ffffff;
  --modal-overlay-color: rgba(0, 0, 0, 0.5);
  --table-header-background-color: #34495e;
  --table-row-hover-color: #bdc3c7;
  --table-row-alternate-background-color: #ecf0f1;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* button */
  --button-padding: 10px 20px;
  /* font size */
  --font-size-base: 1rem;
  --font-size-heading: 1.8rem;
  --font-size-small: 0.875rem;
  /* border */
  --border-radius: 5px;
}
